:root {
  --beach-bg: #2eb5e5;
  --sky-gradient-top: #037ccb;
  --sky-gradient-bottom: #82ccef;
  --sea-gradient-1: #087ac1;
  --sea-gradient-2: #129cc0;
  --sea-gradient-3: #2ad4e5;
  --sea-gradient-4: #96e9ef;
  --sea-gradient-5: #deecd3;
  --sand: #fdf1d7;
  --wet-sand: linear-gradient(
      to bottom,
      rgba(189, 146, 86, 0.85) 70%,
      rgba(214, 175, 110, 0.55) 84%,
      rgba(236, 192, 117, 0) 100%
    ),
    #ecc075;
  --wet-sand-shadow: 0 10px 10px 0 #ecc075;

  --bg1: #9bdcf2;
  --bg2: #2eb5e5;
  --bg3: #096aa7;

  --header-start: rgba(255, 255, 255, 0);
  --header-end: rgba(255, 255, 255, 0);
  --header-text: #062b2b;
  --primary-color: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  );
  --results-accent: #096aa7;

  --footer-start: rgba(255, 255, 255, 0);
  --footer-end: rgba(255, 255, 255, 0);
  --footer-text: #062b2b;

  --accent: #3aafa9;
  --highlight: rgba(255, 255, 255, 0.65);
  --main-text: #0c2e2e;
  --button-text: #062b2b;

  --table-header: rgba(18, 164, 207, 0.5);
  --table-border: #0c7bb3;
  --table-text-color: #0c2e2e;
  --row-odd: rgba(255, 255, 255, 0.25);
  --row-even: rgba(255, 255, 255, 0.15);
  --results-bg: #fdf1d7;

  --manage-rules-btn-bg-start: #0c7bb3;
  --manage-rules-btn-bg-end: #2eb5e5;
  --manage-rules-btn-hover-start: #2eb5e5;
  --manage-rules-btn-hover-end: #82ccef;
  --manage-rules-btn-text: #062b2b;
  --manage-rules-btn-border: #0c7bb3;
}
