.seeRuleContainer {
  position: relative;
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 0;
  width: 100%;
  align-items: start;
  padding: 0;
  margin: 0;
}

.fullRow {
  grid-column: 1 / -1;
}

.full {
  grid-template-columns: 1fr;
}

.hidden {
  display: none;
}

.headerBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
}

.saveAndCloseButton {
  margin-top: 2rem;
}

.ruleCategoriesBox {
  max-height: 60vh;
  overflow-y: auto;
  width: 70%;
}

.reorderAbsolute {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 2;
}
