.existingRuleCategories {
  background-color: var(--header-bg) !important;
  display: flex;
}

.existingRuleCategoriesColumns {
  border-right: 1px solid var(--light-color);
  color: var(--light-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-size: 1rem;
}
