.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
  max-height: 20vh;
}

.row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.name {
  flex: 1 1 auto;
}

.repeat {
  display: flex;
  align-items: center;
  gap: 4px;
}

.label {
  color: var(--button-text) !important;
  font-size: 16px;
}
