.select :global(.MuiSelect-select),
.select :global(.MuiSelect-icon) {
  color: white;
  font-weight: bold;
}

.select :global(.MuiOutlinedInput-notchedOutline) {
  border-color: white !important;
}

.select :global(.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline) {
  border-color: white !important;
}

.select
  :global(.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline) {
  border-color: white !important;
}
