.sortableContainer {
  background-color: var(--sortable-container-background);
  overflow-y: scroll;
  max-height: 60vh;
}

.draggable {
  background-color: var(--draggable-background);
  color: white;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.saveButton {
  width: 10rem;
  height: 3rem;
  margin-top: 1rem !important;
  margin-left: 1rem !important;
  white-space: nowrap;
}
