.sortableContainer {
  background-color: #2b7a78;
}

.draggable {
  background-color: #3aa3a9;
  color: white;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.saveButton {
  height: 3rem;
  margin-top: 1rem !important;
  margin-left: 1rem !important;
}
