.sortableContainer {
  background-color: var(--sortable-container-background);
}

.draggable {
  background-color: var(--draggable-background);
  color: white;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.saveButton {
  height: 3rem;
  margin-top: 1rem !important;
  margin-left: 1rem !important;
}
