.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--footer-text) !important;
  background-color: var(--footer-bg) !important;
  font-size: 12px !important;
}
