.ruleTextField fieldset {
  border: 1px solid var(--manage-rules-border) !important;
}

.ruleTextField input {
  color: var(--manage-rules-text) !important;
}

.ruleTextField label {
  color: var(--manage-rules-text) !important;
}

.typography {
  display: inline-block !important;
  margin-right: 1rem !important;
}
