.resultsBox {
  display: flex;
  gap: 16px;
}

.blurGradeAndNextWork {
  filter: blur(2.5rem);
  pointer-events: none;
}

.labelCell {
  color: var(--button-text) !important;
  font-size: 16px;
  font-weight: bold;
}
