.addNewRuleBox {
  display: flex;
  justify-content: center;
}

.addNewRuleTextField fieldset {
  border: 1px solid var(--manage-rules-border) !important;
}

.addNewRuleTextField input,
.addNewRuleTextField label,
.addNewRuleTextField span,
.addNewRuleTextField textarea {
  color: var(--manage-rules-text) !important;
}

.addNewRuleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 1rem;
}

.addRuleButton {
  height: 100%;
}

.addRule {
  width: 10rem;
  margin-bottom: 1rem !important;
  align-self: center;
}
