.inputDate {
  margin-right: 10px !important;
}

.inputDate :global(.MuiOutlinedInput-root),
.inputDate :global(.MuiInputLabel-root) {
  color: var(--input-date-text) !important;
}

.inputDate :global(.MuiOutlinedInput-notchedOutline) {
  border-color: var(--input-date-border) !important;
}

.inputDate :global(.MuiInputLabel-root) {
  color: var(--input-date-text) !important;
}

.inputDate :global(.MuiOutlineInput-notchedOutline) {
  border: 1px solid var(--input-date-fieldset-border) !important;
}

@media (max-width: 768px) {
  .inputDate {
    margin-right: 0 !important;
    margin-bottom: 8px !important;
  }
}
