.inputDate {
  margin-right: 10px !important;
}

.inputDate :global(.MuiOutlinedInput-root),
.inputDate :global(.MuiInputLabel-root) {
  color: #feffff !important;
}

.inputDate :global(.MuiOutlinedInput-notchedOutline) {
  border-color: #3aafa9 !important;
}

.inputDate :global(.MuiInputLabel-root) {
  color: #feffff !important;
}

.inputDate :global(.MuiOutlineInput-notchedOutline) {
  border: 1px solid #feffff !important;
}
