:root {
  --bg1: #def2f1;
  --bg2: #187bcd;
  --bg3: #172a4a;

  --header-start: #172a4a;
  --header-end: #187bcd;
  --header-text: #def2f1;

  --footer-start: #172a4a;
  --footer-end: #187bcd;
  --footer-text: #def2f1;

  --border-see-rule: #3aafa9;

  --table-header: #187bcd;
  --table-border: #172a4a;
  --table-text-color: #187bcd;
  --row-odd: #f5f5dc;
  --row-even: #def2f1;

  --accent: #3aafa9;
  --highlight: #4ac0e0;
  --main-text: #def2f1;
  --button-text: #def2f1;
  --results-bg: #def2f1;
}
