:root {
  --header-background: #003135;
  --header-text: #AFDDE5;

  --footer-text: #003135;

  --login-button-background: #024950;
  --login-button-text: #AFDDE5;
  --login-button-border: #003135;
  --login-button-shadow: #964734;

  --info-card-background: #003135;
  --info-card-text: #AFDDE5;

  --login-modal-background: #AFDDE5;
  --modal-close-button-background: #964734;

  --datagrid-cell-border: #AFDDE5;
  --datagrid-cell-background: #024950;
  --datagrid-cell-text: #AFDDE5;
  --datagrid-cell-border-right: #AFDDE5;
  --datagrid-header-border-right: #AFDDE5;
  --datagrid-header-background: #003135;
  --datagrid-header-text: #AFDDE5;

  --input-date-text: #AFDDE5;
  --input-date-border: #024950;
  --input-date-fieldset-border: #AFDDE5;

  --manage-rules-border: #003135;
  --manage-rules-text: #003135;

  --sortable-container-background: #003135;
  --draggable-background: #0FA4AF;

  --tasks-list-background: #024950;

  --student-tasks-header-background: #003135;
  --student-tasks-header-text: #AFDDE5;

  --page-background: #AFDDE5;
  --primary-color: #003135;
  --secondary-color: #024950;
  --light-color: #AFDDE5;
  --dark-color: #003135;
  --border-color: #964734;
  --progress-color: #0FA4AF;
  --selection-background: #0FA4AF;
  --selection-text: #003135;
}

::selection {
  background-color: var(--selection-background);
  color: var(--selection-text);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: sans-serif;
}

body {
  background-color: var(--page-background) !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.dataGrid .MuiDataGrid-root .MuiDataGrid-cell {
  border-color: var(--datagrid-cell-border) !important;
  background-color: var(--datagrid-cell-background) !important;
  color: var(--datagrid-cell-text) !important;
  border-right: 2px solid var(--datagrid-cell-border-right) !important;
  text-align: center !important;
  font-size: 18px;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}

.dataGrid .MuiDataGrid-root .MuiDataGrid-columnHeader {
  border-right: 2px solid var(--datagrid-header-border-right) !important;
  background-color: var(--datagrid-header-background) !important;
  color: var(--datagrid-header-text);
  font-size: 20px;
}

.dataGrid .MuiDataGrid-root .MuiDataGrid-columnHeaderTitleContainer {
  justify-content: center !important;
  align-items: center !important;
  text-align: center;
}

button,
.btn {
  background-color: var(--login-button-background) !important;
  color: var(--login-button-text) !important;
  transition: all 0.3s !important;
  text-decoration: none;
  padding: 0.5rem;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
}

button:hover,
.btn:hover {
  background-color: var(--login-button-text) !important;
  color: var(--login-button-background) !important;
  box-shadow: 0 0 20px var(--login-button-shadow),
    0 0 40px var(--login-button-shadow) !important;
}

.MuiCheckbox-root {
  color: var(--datagrid-header-text) !important;
}

.table {
  background-color: var(--primary-color) !important;
  color: var(--light-color) !important;
}

.table-cell {
  color: var(--light-color) !important;
}

.default-text-field fieldset {
  border: 1px solid var(--input-date-fieldset-border) !important;
}

.default-text-field textarea,
.default-text-field input,
.default-text-field label {
  color: var(--light-color) !important;
}

.MuiTable-root {
  background-color: var(--primary-color) !important;
}

.MuiPickersLayout-root button {
  background-color: var(--light-color) !important;
  color: var(--draggable-background) !important;
}

.MuiPickersLayout-root .Mui-selected {
  background-color: var(--draggable-background) !important;
  color: var(--light-color) !important;
}
